<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Profile</title>
  <link rel="stylesheet" href="browse.component.css">
</head>
<body>
<div class="user-profile">
  <div class="buttons-section">
    <button (click)="filterMoviesByCategory('action')">Action</button>
    <button (click)="filterMoviesByCategory('romance')">Romance</button>
    <button (click)="filterMoviesByCategory('horror')">Horror</button>
    <button (click)="filterMoviesByCategory('fantasy')">Fantasy</button>
    <button (click)="clearFilter()">Show All</button>
  </div>

  <div class="movie-section">
    <ng-container *ngFor="let movie of filteredMovies">
      <div class="movie-card">
        <div class="card-right-side">
          <img class="poster" alt="poster-img" src="assets/poster.jpg">
        </div>
        <div class="card-left-side">
          <h1>{{movie.name}} <span id="rating">{{movie.rating}}/10</span></h1>
          <p>
            <span>Duration: {{movie.duration}} min</span><br>
            <span>Categories: {{movie.category}}</span>
            <span></span>
          </p>
        </div>
      </div>
    </ng-container>
  </div>



</div>
</body>
</html>
