
<div class="filter-container02"></div>
<div class="filter-container03">
<ul class="list">
<li class="filter-li list-item">
<div class="filter-container04">
<div class="filter-container05">
<img
src="https://play.teleporthq.io/static/svg/default-img.svg"
alt="image"
class="filter-image2"
/>
</div>
<div class="filter-container06">
<div class="filter-container07">
<div class="filter-container08">
<div class="filter-container09">
<h1 class="filter-text01">
<span>Movie title</span>
<br>
</h1>
<img src="assets/star.png" alt="image" class="filter-image3"
/>
<span class="filter-text04">Rating</span>
</div>
</div>
<div class="filter-container10">
<div class="filter-container11">
<div class="filter-container12">
<span>Год выпуска</span>
<span class="filter-text06">Text</span>
</div>
<div class="filter-container13">
<div class="filter-container14">
<span>Год выпуска</span>
</div>
<span class="filter-text08">Text</span>
</div>
<div class="filter-container15">
<span>Страна</span>
<span class="filter-text10">Text</span>
</div>
<div class="filter-container16">
<span>Продолжительность</span>
<span class="filter-text12">Text</span>
</div>
<div class="filter-container17">
<span>Жанр</span>
</div>
<div class="filter-container18">
<span>Описание</span>
<span class="filter-text15">Text</span>
</div>
</div>
</div>
</div>
<button type="button" class="filter-button2 button">
Button
</button>
</div>
</div>
</li>
<li class="list-item"></li>
</ul>
</div>

