<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Profile</title>
  <link rel="stylesheet" href="profile-library.component.css">
</head>
<body>
<div class="user-profile">
  <div class="user-info">
    <div class="user-info-up-part">
      <img src="assets/default-avatar.jpg" alt="User Photo">
      <div class="user-details">
        <div class="name">John Doe</div>
        <div class="email">
          <img src="assets/email-icon.png" alt="Email Icon">
          <span>exampleюexample.com</span>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="user-info-down-part">
      <div class="buttons">
        <button class="" (click)="navigateToProfileInfo()">Info</button>
        <button class="active" (click)="navigateToProfileLibrary()">Library</button>
        <button class="" (click)="navigateToProfileReviews()">Reviews</button>
      </div>
    </div>
  </div>
  <div class="info-section">
<!--    <movie-card *ngFor="let movie of movies" [movie]="movie"></movie-card>
  --></div>
</div>
</body>
</html>
