
  <header class=" site-header d-flex flex-wrap align-items-center justify-content-center justify-content-between mb-4 border-bottom">

    <ul id="site-header" class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a routerLink="" id="site-name" class="nav-link px-2 ">LMDB</a></li>
      <li><a routerLink="search" class="nav-link px-2 link-dark">Search</a></li>
      <li><a routerLink="browse" class="nav-link px-2 link-dark">Browse</a></li>
      <img src="assets/search.png" alt="image" class="filter-image" />
      <input type="text" placeholder="Search LMDB" class="filter-textinput"/>
      <button type="button" class="filter-button">Sign In</button>
      <button type="button" class="filter-button1">Login</button>
      <img class="home-login-img" (click)="navigateToLogin()" src="assets/default-avatar.jpg" alt="User Photo">
    </ul>
    </header>


<button class="" (click)="navigateToProfileInfo()">Information</button>


<router-outlet></router-outlet>

