#site-name{
  color: #f5c518;
  font-weight: bolder;
  font-size: 32px;
}

#site-header {
  display: flex;
  align-items: center;
}

.site-header{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4px;
  border-bottom: 1px solid #f5c518;
  background-color: #ffffff;
}

.home-login-img{
  border-radius: 50%;
  height: 40px;
  width: 40px;
  cursor: pointer;
  position: relative;
  left: 100px
}


.home-login-btn{
  color: #f5c518;
  border: #f5c518 solid 1px;
}

.home-login-btn:hover{
  background-color: transparent;
}

.home-sign-up-btn{
  background-color: #f5c518;
  border: #f5c518 solid 1px;
}

.filter-image {
  width: 15px;
  height: 15px;
  object-fit: cover;
  margin-top: 4px;
  margin-left: 10px;
}

.filter-textinput {
  width: 250px;
  align-self: center;
  border-color: #676767;
  border-radius: 8px;
  border:  0.5px solid #acacac;
  padding-right: 3px;
  font-size: 12px;
  margin-left: 5px;
  margin-top: 4px;
}
.filter-button {
  color: #f5c518;
  background-color: white;
  margin-left: 220px;
  border-color: #f5c518;
  margin-right: 20px;
  border-radius: 4px;
}
.filter-button1 {
  background-color: #f5c518;
  border-color: #f5c518;
  color: white;
  border-radius: 4px;
  margin-right: 20px;
}
.right-header{

}
