<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Profile</title>
  <link rel="stylesheet" href="profile.component.css">
</head>
<body>
  <div class="user-profile">
    <div class="user-info">
      <div class="user-info-up-part">
        <img src="assets/default-avatar.jpg" alt="User Photo">
        <div class="user-details">
          <div class="name">John Doe</div>
          <div class="email">
            <img src="assets/email-icon.png" alt="Email Icon">
            <span>exampleюexample.com</span>
          </div>
        </div>
      </div>
      <div class="divider"></div>
      <div class="user-info-down-part">
        <div class="buttons">
          <button class="active" (click)="navigateToProfileInfo()">Info</button>
          <button class="" (click)="navigateToProfileLibrary()">Library</button>
          <button class="" (click)="navigateToProfileReviews()">Reviews</button>
        </div>
      </div>
    </div>
    <div class="info-section">
      <div class="info-section-table">
        <table>
          <tr>
            <th colspan="2">User Information</th>
          </tr>
          <tr>
            <td>Username</td>
            <td>John Doe</td>
          </tr>
          <tr>
            <td>Email</td>
            <td>exampleюexample.com</td>
          </tr>
          <tr>
            <td>Password</td>
            <td>********</td>
          </tr>
          <tr>
            <td>Registration Date</td>
            <td>April 17, 2024</td>
          </tr>
        </table>
      </div>
      <div class="info-section-buttons">
        <button class="info-section-btn-sign-out">SIGN OUT</button>
        <button class="info-section-btn-update-profile">UPDATE PROFILE</button>
      </div>
    </div>
  </div>
</body>
</html>
